.apply-border-radius {
  border-radius: var(--border-radius);
}

.box-shadow-low {
  box-shadow: var(--shadow-elevation-low);
}

.box-shadow-medium {
  box-shadow: var(--shadow-elevation-medium);
}

.box-shadow-high {
  box-shadow: var(--shadow-elevation-high);
}