h1 {
  letter-spacing: 0.1em;
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: var(--font-size-xl);
}

h2 {
  letter-spacing: 0.15em;
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: var(--font-size-lg);
}

h3 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: 1.8rem;
}

h4 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: 1.5rem;
}

h5 {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: 1rem;
}

p {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: var(--font-size-base);
}

a {
  font-family: var(--font-family-body);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: currentColor;
}