.card {
  padding: var(--space-s-m);
  border-radius: var(--border-radius);
  overflow: hidden;

  &[data-type='project'] {
    padding: 0;

    .image {
      max-height: 30rem;
    }

    .content {
      padding: var(--space-s-m);
    }
  }
}