.form-field {
  position: relative;

  input, textarea, fieldset {
    width: 100%;
    padding: var(--space-3xs) var(--space-xs);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-primary-700);
  }

  label {
    position: absolute;
    padding-inline: var(--space-3xs);
    background-color: var(--color-neutral-100);
    border-radius: var(--border-radius);
    left: var(--space-xs);
    top: 50%;
    transform: translateY(-50%); 
    transition: top var(--transition-base), font-size var(--transition-base);
  }

  textarea + label {
    top: 0;
    transform: translateY(20%);
    transition: transform var(--transition-base), font-size var(--transition-base);
  }

  input[type="radio"] {
    appearance: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
    width: var(--step-1);
    height: var(--step-1);
    border: 2px solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: var(--step--1);
      height: var(--step--1);
      border-radius: 50%;
      transform: scale(0);
      transition: transform var(--transition-base);
      box-shadow: inset var(--step-0) var(--step-0) var(--color-primary-500);
    }

    &:checked::before {
      transform: scale(1);
    }

    & + label {
      position: initial;
      transform: initial;
    }
  }

  input:is(:active, :hover, :focus, :not(:placeholder-shown)):not([type="radio"]) + label,
  legend {
    top: 0;
    font-size: var(--step-0);
  }

  textarea:is(:active, :hover, :focus, :not(:placeholder-shown)) + label {
    transform: translateY(-50%);
    font-size: var(--step-0);
  }

  .radio-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--space-2xs);
    align-items: baseline;
  }
}
