.rsvp {
  --wrapper-max-width: 60ch;
  --color-neutral-100: hsl(33, 73%, 97%);
  --color-neutral-500: hsl(0deg, 0%, 62%);
  --color-primary-500: hsl(345, 99%, 70%);
  --color-primary-700: hsl(345, 99%, 60%);
  --color-secondary-500:hsl(181, 59%, 31%);
  --color-tertiary-500: hsl(33, 73%, 97%);
  outline-color: var(--color-primary-500);

  min-height: 100vh;

  h1 {
    font-size: var(--step-3);
  }

  input,
  textarea,
  fieldset {
    background-color: transparent;
    border-color: var(--color-secondary-500);
  }

  [type="radio"] + label {
    color: var(--color-neutral-800);
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }
}
