body {
  background-color: #fcf4ed;
  color: #1e2d32;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.1em;
  font-family: "Helvetica Neue";
  font-weight: 400;
  padding-top: 1em;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.15em;
  font-family: "Helvetica Neue";
  font-weight: 300;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 1em;
}

h3::after {
  content: "";
  display: block;
  background-color: #1e2d32;
  height: 3px;
  width: 150px;
  margin: 10px auto 0;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

a {
  font-weight: 300;
}

strong {
  font-weight: 800;
}

.component {
  margin-top: 40px;
  margin-bottom: 40px;
}

.headline-with-text {
  margin-top: 0;
}

.headline-with-text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #1e2d32;
  font-size: 1rem;
  line-height: 2.25rem;
  transition: color 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ca9954;
}

.main-marquee {
  background-color: #e6eff0;
  position: relative;
}

.mountains,
.reflection,
.footer-logo {
  width: 300%;
  margin-left: -120%;
  max-width: initial;
}

.reflection {
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0.4;
}

@media only screen and (min-device-width: 576px) {
  .mountains,
  .reflection,
  .footer-logo {
    width: 200%;
    margin-left: -50%;
  }
}

@media only screen and (min-device-width: 768px) {
  .mountains,
  .reflection,
  .footer-logo {
    width: 120%;
    margin-left: -11%;
  }
}

.card {
  border: none;
  border-radius: 0;
}

.card-img {
  border-radius: 0;
  margin: auto;
  width: 1000px;
  height: auto;
  max-width: 100%;
  /* max-height: 15rem; */
}

@media only screen and (min-device-width: 768px) {
  /* .card {
    height: 20rem;
  } */

  .card-img {
    max-height: 100%;
  }
}

.card-title {
  margin-bottom: 0;
}

.card .row {
  height: 100%;
}

.card div[class^="col-"] {
  display: flex;
  align-items: center;
  max-height: 100%;
}

.btn {
  border-radius: 0;
  background-color: #1e2d32;
  color: #ffffff;
}

.btn:hover {
  background-color: #4f6563;
  color: #ffffff;
}

.card-contact {
  text-align: center;
}

.card-contact {
  background-color: #4f6563;
  color: #ffffff;
}

.card-contact .card-contact-link {
  font-size: 1.5rem;
  display: block;
  color: #ffffff;
}

.card-contact .card-contact-link:hover {
  color: #ffffff;
}

.modal-content {
  border: none;
  border-radius: 0;
}

.modal-header {
  border: none;
}

.modal-header .close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-title {
  margin: auto;
}

.modal-text {
  margin: 1.5rem auto;
}

.anchor {
  display: block;
  position: relative;
  top: -1.5rem;
  visibility: hidden;
}
