---
import Marquee from '/src/components/Marquee.astro';
import Layout from '/src/layouts/Layout.astro';
---

<Layout lang="fr" title="Brett Case - Software Engineer" description="The background and projects of Brett Case's software engineering career">
  <main id="main-content" tabindex="-1">
    <Marquee headline="Oui Oui" subHeadline="Frontend Engineer" />
  </main>
</Layout>
