---
import { Image } from '@astrojs/image/components';

import landscape from '../../assets/images/trees.svg';
---

<footer>
  <a href='/grade-calculator'>
    <Image class="page-width-image" src={landscape} width={2607} height={227} alt="Drawing of a large grouping of trees in the fall" />
  </a>
</footer>
