---
import { Image } from '@astrojs/image/components';

import landscape from '../../assets/images/trees.svg';
---

<footer class="gap-top-700">
  <a href='/grade-calculator'>
    <Image class="image" src={landscape} width={2607} height={227} alt="Drawing of a large grouping of trees in the fall" />
  </a>
</footer>

<style>
    /* .image {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: none;
      width: 120vw;
    } */
</style>
