---
import { cards } from '../assets/data/cards';
import ContactForm from '../components/ContactForm.jsx';
import CopyBlock from '../components/CopyBlock.astro';
import Marquee from '../components/Marquee.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brett Case - Software Engineer">
  <main id="main-content" tabindex="-1">
    <Marquee headline="Brett Case" subHeadline="Software Engineer" />

    <article class="region wrapper">
      <CopyBlock
        headline="Who am I"
        text="Hello! I am a software engineer in the Pacific Northwest currently working for Wacom in their web services department. I enjoy working with front-end web technologies, APIs, and designers to create websites that are intuitive and fast."
      />
    </article>

    <article class="region wrapper flow">
      <CopyBlock headline="Projects" />

      <ul class="grid | center-child-margins" role="list" data-rows="masonry" data-layout="50-50">
        {cards.map((card, index) => <ProjectCard content={card} flipContent={index % 2 === 1} />)}
      </ul>
    </article>

    <article class="region wrapper flow">
      <CopyBlock headline="Contact" />

      <div class="card | grid | bg-primary-500 color-neutral-100 text-center" data-layout="50-50">
        <div class="contact-content | flow center-child-margins">
          <p>Find me around the internet at</p>
          <a href="https://github.com/Brallen" target="_blank" rel="noreferrer nofollow">GitHub<span>.com/</span>Brallen</a>
          <a href="https://linkedin.com/in/brettcase" target="_blank" rel="noreferrer nofollow">LinkedIn<span>.com/in/</span>BrettCase</a>
        </div>
        <div class="contact-content | flow center-child-margins">
          <p>Or send me an email to get in touch</p>
          <div>
            <ContactForm client:visible />
          </div>
        </div>
      </div>
    </article>
  </main>
</Layout>

<style>
  .contact-content a {
    font-size: var(--font-size-lg);
    display: block;
    text-underline-offset: .165rem;
  }

  .contact-content a:not(:first-of-type) {
    --flow-spacing: .5rem;
  }

  .contact-content span {
    font-size: var(--font-size-base);
  }
</style>
