body {
  color: var(--color-primary-700);
  background: var(--color-secondary-100);
  font-size: var(--step-1);
  font-family: var(--ff-body);
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: var(--tracking);
}

/* Base typesetting */
h1,
h2,
h3,
h4 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
  font-family: var(--ff-heading);
}

h1 {
  font-size: var(--step-5);
  font-weight: 700;
}

h2 {
  font-size: var(--step-4);
  font-weight: 400;
  text-decoration: underline;
}

h3 {
  font-size: var(--step-3);
  font-family: var(--ff-body);
  font-weight: 300;
}

h4 {
  font-size: var(--step-2);
  font-weight: 400;
}

h5 {
  font-size: var(--step-1);
  font-weight: 400;
}

/* Set line lengths */
p,
li {
  max-width: 50ch;
}

h1,
h2,
h3 {
  max-width: 20ch;
}

/* Base interactive elements */
a {
  color: currentcolor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 3px solid var(--color-primary-700);
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colors are rendered */
::selection {
  background: var(--color-primary-700);
  color: var(--color-neutral-100);
}
