@use './_vars' as vars;
@use 'sass:math';
:root {
  --spacing-ratio: #{vars.$spacing-ratio};

  @for $index from 0 to 5 {
    --spacing-#{$index}00: calc(var(--spacing-#{($index + 1) * 100}) / var(--spacing-ratio));
  }
  
  --spacing-500: #{vars.$spacing-root};
  
  @for $index from 6 to 11 {
    --spacing-#{$index}00: calc(var(--spacing-#{($index - 1) * 100}) * var(--spacing-ratio));
  }

  @each $color, $shades in vars.$light-colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }

  @each $family, $value in vars.$font-families {
    --font-family-#{$family}: #{$value};
  }

  @each $size, $value in vars.$font-sizes {
    --font-size-#{$size}: #{$value};
  }
}

@each $color, $shades in vars.$light-colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--color-#{$color}-#{$shade});
    }

    .color-#{$color}-#{$shade} {
      color: var(--color-#{$color}-#{$shade});
    }
  }
}

@for $index from 0 to 11 {
  .gap-top-#{$index * 100} {
    margin-top: var(--spacing-#{$index * 100});
  }

  .gap-bottom-#{$index * 100} {
    margin-bottom: var(--spacing-#{$index * 100});
  }
  
  .pad-top-#{$index * 100} {
    padding-top: var(--spacing-#{$index * 100});
  }

  .pad-bottom-#{$index * 100} {
    padding-bottom: var(--spacing-#{$index * 100});
  }
  
  .pad-left-#{$index * 100} {
    padding-left: var(--spacing-#{$index * 100});
  }

  .pad-right-#{$index * 100} {
    padding-right: var(--spacing-#{$index * 100});
  }
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.flow > * + * {
  margin-top: var(--flow-spacing, #{vars.$spacing-ratio}rem);
}

.stack > * + * {
  margin-top: var(--stack-spacing, #{math.pow(vars.$spacing-ratio,2)}rem);
}