$font-families: (
  heading: '"ff-basic-gothic-pro", sans-serif',
  body: '"houschka-rounded", sans-serif'
);

$font-sizes: (
  base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem),
  lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem),
  xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem)
);

$spacing-ratio: 1.5;

$spacing-root: 1rem;

$light-colors: (
  neutral: (
    100: hsl(0, 0%, 100%),
    500: hsl(0, 0%, 62%),
    800: hsl(22, 19%, 11%)
  ),
  
  primary: (
    500: hsl(175, 12%, 35%),
    700: hsl(195, 25%, 16%)
  ),

  secondary: (
    100: hsl(28, 100%, 95%),
    500: hsl(35, 53%, 56%),
    700: hsl(18, 52%, 40%)
  ),
  
  tertiary: (
    500: hsl(193, 90%, 92%)
  )
);

$default-transition-time: 250ms;