.bg-neutral-100 {
  background-color: var(--color-neutral-100);
}

.bg-neutral-500 {
  background-color: var(--color-neutral-500);
}

.bg-neutral-800 {
  background-color: var(--color-neutral-800);
}

.bg-neutral-900 {
  background-color: var(--color-neutral-900);
}

.bg-primary-500 {
  background-color: var(--color-primary-500);
}

.bg-primary-700 {
  background-color: var(--color-primary-700);
}

.bg-secondary-100 {
  background-color: var(--color-secondary-100);
}

.bg-secondary-500 {
  background-color: var(--color-secondary-500);
}

.bg-tertiary-500 {
  background-color: var(--color-tertiary-500);
}

.color-neutral-100 {
  color: var(--color-neutral-100);
}

.color-neutral-500 {
  color: var(--color-neutral-500);
}

.color-neutral-800 {
  color: var(--color-neutral-800);
}

.color-neutral-900 {
  color: var(--color-neutral-900);
}

.color-primary-500 {
  color: var(--color-primary-500);
}

.color-primary-700 {
  color: var(--color-primary-700);
}

.color-secondary-100 {
  color: var(--color-secondary-100);
}

.color-secondary-500 {
  color: var(--color-secondary-500);
}

.color-tertiary-500 {
  color: var(--color-tertiary-500);
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.gap-top-0 {
  margin-top: 0;
}

.gap-top-300 {
  margin-top: var(--spacing-300);
}

.gap-top-500 {
  margin-top: var(--spacing-500);
}

.gap-top-700 {
  margin-top: var(--spacing-700);
}

.gap-top-900 {
  margin-top: var(--spacing-900);
}

.gap-bottom-0 {
  margin-bottom:0;
}

.gap-bottom-300 {
  margin-bottom: var(--spacing-300);
}

.gap-bottom-500 {
  margin-bottom: var(--spacing-500);
}

.gap-bottom-700 {
  margin-bottom: var(--spacing-700);
}

.gap-bottom-900 {
  margin-bottom: var(--spacing-900);
}

.pad-top-0 {
  padding-top: 0;
}

.pad-top-300 {
  padding-top: var(--spacing-300);
}

.pad-top-500 {
  padding-top: var(--spacing-500);
}

.pad-top-700 {
  padding-top: var(--spacing-700);
}

.pad-top-900 {
  padding-top: var(--spacing-900);
}

.pad-bottom-0 {
  padding-bottom:0;
}

.pad-bottom-300 {
  padding-bottom: var(--spacing-300);
}

.pad-bottom-500 {
  padding-bottom: var(--spacing-500);
}

.pad-bottom-700 {
  padding-bottom: var(--spacing-700);
}

.pad-bottom-900 {
  padding-bottom: var(--spacing-900);
}

.pad-left-0 {
  padding-left: 0;
}

.pad-left-300 {
  padding-left: var(--spacing-300);
}

.pad-left-500 {
  padding-left: var(--spacing-500);
}

.pad-left-700 {
  padding-left: var(--spacing-700);
}

.pad-left-900 {
  padding-left: var(--spacing-900);
}

.pad-right-0 {
  padding-right:0;
}

.pad-right-300 {
  padding-right: var(--spacing-300);
}

.pad-right-500 {
  padding-right: var(--spacing-500);
}

.pad-right-700 {
  padding-right: var(--spacing-700);
}

.pad-right-900 {
  padding-right: var(--spacing-900);
}