---
import '../assets/styles/styles.scss';

export interface Props {
  title: string;
  description: string;
  lang: string;
}

const { title, description, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="https://use.typekit.net/tts5cfx.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
